<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0" />

    <% if current_page.data.title %>
      <title><%= current_page.data.title + " | Alex Cash" %></title>
    <% else %>
      <title><%= "Alex Cash" %></title>
    <% end %>

    <meta name="description" content="<%= current_page.data.description %>">

    <link rel="shortcut icon" href="http://alex.cash/favicon.ico" />

    <link rel="canonical" href="http://alex.cash<%= current_page.url %>">
    <link rel="alternate" href="http://alexca.sh<%= current_page.url %>">
    <link rel="alternate" href="http://alexcash.com<%= current_page.url %>">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/feed.xml">

    <meta property="og:title" content="<%= current_page.data.title || "Alex Cash" %>"/>
    <meta property="og:type" content="<% if current_page.data.notBlog? %>website<% else %>article<% end %>"/>
    <meta property="og:url" content="http://alex.cash<%= current_page.url %>"/>
    <% if current_page.data.headerImage %>
      <meta property="og:image" content="http://alex.cash<%= asset_path :images, current_page.data.headerImage %>"/>
    <% else %>
      <meta property="og:image" content="http://alex.cash<%= asset_path :images, 'social.jpg' %>"/>
    <% end %>
    <meta property="og:site_name" content="alex.cash"/>
    <meta property="og:description" content="<%= current_page.data.description %>"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@alexcash">
    <meta name="twitter:creator" content="@alexcash">
    <meta name="twitter:url" content="http://alex.cash<%= current_page.url %>">
    <meta name="twitter:title" content="<%= current_page.data.title || "Alex Cash" %>">
    <meta name="twitter:description" content="<%= current_page.data.description %>">
    <% if current_page.data.headerImage %>
      <meta name="twitter:image" content="http://alex.cash<%= asset_path :images, current_page.data.headerImage %>"/>
    <% else %>
      <meta name="twitter:image" content="http://alex.cash<%= asset_path :images, 'social.jpg' %>"/>
    <% end %>

    <%= stylesheet_link_tag "all" %>

    <% if build? %>
      <script>
          var _gaq=[['_setAccount','UA-29834387-1'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s);}(document,'script'));

          console.log = function(){
            // no logging in production
          };
      </script>
    <% end %>
  </head>
  <body class="<%= page_classes %><% if not current_page.data.notBlog? %> blog-page<% end %>">

    <div class="contain">
      <section class="master">
        <% if current_page.data.headerImage %>
          <div class="me" style="background-image: url(<%= asset_path :images, current_page.data.headerImage %>)"></div>
        <% else %>
          <div class="me"></div>
        <% end %>
        <a href="/">
        <div class="about">
        <h1>ALEX CASH</h1>
        </div>
        </a>

        <div class="blurb">
            <%= image_tag 'social.jpg', :class => 'social-me'%>
            <div class="copy">
              <i>I'm a software developer in Northern California. I enjoy video games, motorcycle camping, and ocassionally&nbspwriting.</i>
            </div>
        </div>

        <div class="social-floater top">
          <nav class="clearfix">
            <ul class="clearfix">
            <li><a href="http://www.twitter.com/alexcash" rel="me"><i class="icon-twitter"></i></a></li>
            <li><a href="http://www.github.com/alexcash" rel="me"><i class="icon-github"></i></a></li>
            <li><a href="http://www.linkedin.com/pub/alex-cash/48/460/307" rel="me"><i class="icon-linkedin"></i></a></li>
            <li><a href="/feed.xml" rel="me"><i class="icon-rss"></i></a>
            </ul>
          </nav>
        </div>

        <span class="copyright top">&copy; 2012 - <%= Time.now.year %> Alex Cash</span>

        </section>



      <%= yield %>

      <footer>
        <div class="social-floater">
          <nav class="clearfix">
            <ul class="clearfix">
            <li><a href="http://www.twitter.com/alexcash" rel="me"><i class="icon-twitter"></i></a></li>
            <li><a href="http://www.github.com/alexcash" rel="me"><i class="icon-github"></i></a></li>
            <li><a href="http://www.linkedin.com/pub/alex-cash/48/460/307" rel="me"><i class="icon-linkedin"></i></a></li>
            <li><a href="/feed.xml" rel="me"><i class="icon-rss"></i></a>
            </ul>
          </nav>
        </div>

        <div class="copyright">&copy; 2012 - <%= Time.now.year %> Alex Cash</div>
      </footer>
    </div>

  </body>
  <script type="text/template" id="image-grid">
    {{# if(top.imgURL) { }}
      <a target='blank' href='{{{ top.linkURL }}}' class='element top'>
          <img src='{{{ top.imgURL }}}'>
          <div class='info'>
            <div class='text'>
              <b>Now Playing: </b><br>
              {{{ top.title }}} - {{{ top.artist }}}
            </div>
            <div class="equalizer"></div>
          </div>
      </a>
    {{# } }}
    {{# _.each(elements, function(element){ }}
        <a target='blank' href='{{{ element.linkURL }}}' class='element'>
            <img src='{{{ element.imgURL }}}'>
            <div class='info'>
              <div class='text'>
                {{# if(element.instagram) { }}
                  {{{ element.caption }}}
                {{# } else { }}
                  {{{ element.title }}} - {{{ element.artist }}} <br>
                  {{{ element.played }}} tracks played
                {{# } }}
              </div>
            </div>
        </a>
    {{# }); }}
  </script>
  <% if current_page.data.script %>
    <%= javascript_include_tag "all", :async => false %>
    <%= javascript_include_tag current_page.data.script, :async => false %>
  <% end %>


</html>
