<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "Alex Cash" %></title>
    <meta name="description" content="<%= data.page.description %>">

    <link rel="canonical" href="http://www.alexcash.com<%= current_page.url %>">
    <link rel="shortlink" type="text/html" href="http://alexca.sh/<%= current_page.url %>">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/feed.xml">

    <meta property="og:title" content="<%= data.page.title || "Alex Cash" %>"/>
    <meta property="og:type" content="<% if data.page.notBlog? %>website<% else %>article<% end %>"/>
    <meta property="og:url" content="http://www.alexcash.com<%= current_page.url %>"/>
    <meta property="og:image" content="http://www.alexcash.com/images/social.jpg"/>
    <meta property="og:site_name" content="alexcash.com"/>
    <meta property="og:description" content="<%= data.page.description %>"/>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@alexcash">
  <meta name="twitter:creator" content="@alexcash">
  <meta name="twitter:url" content="http://www.alexcash.com<%= current_page.url %>">
  <meta name="twitter:title" content="<%= data.page.title || "Alex Cash" %>">
  <meta name="twitter:description" content="<%= data.page.description %>">
  <meta name="twitter:image" content="http://www.alexcash.com/images/social.jpg">

    <%= stylesheet_link_tag "all" %>
  </head>
  <body class="<%= page_classes %><% if !data.page.notBlog? %> blog-page <% end %>">

  <section class="me">
      <header>
        <h1>Alex Cash</h1>
        <p>You found me. Who am I? I'm a web developer. I'm a software engineer. I'm a mobile enthusiast. I'm glad you're here.</p>
        <nav>
          <ul>
            <% if !data.page.notBlog? %>
              <li><a href="/"><i class="icon-home"></i></a></li>
            <% end %>            
            <li><a href="http://www.twitter.com/alexcash" rel="me"><i class="icon-twitter"></i></a></li>
            <li><a href="http://www.github.com/alexcash" rel="me"><i class="icon-github"></i></a></li>
            <li><a href="http://www.linkedin.com/pub/alex-cash/48/460/307" rel="me"><i class="icon-linkedin"></i></a></li>
            <li><a href="http://www.facebook.com/alexcash" rel="me"><i class="icon-facebook"></i></a></li>
            <li><a href="https://plus.google.com/u/0/111755575489705453111?rel=author" rel="me"><i class="icon-google-plus"></i></a>
          </ul>
        </nav>
      </header>
  </section>

    <div class="contain">
      <%= yield %>
    </div>
    
    <footer>
      <span>&copy; 2013 Alex Cash</span>
    </footer>

  </body>
  <%= javascript_include_tag "all" %>
</html>