---
sitemap_priority: 1.0
description: "You found me. Who am I? I'm a web developer. I'm a software engineer. I'm a mobile enthusiast. I'm glad you're here."
notBlog: true
---

<div class="about">
        <h1>ALEX CASH</h1>
         <h2>SOFTWARE ENGINEER</h2>
</div>

<section class="color-grid clearfix">
    <div class="logo nest">
        <%= partial "images/nest" %>
    </div>

    <div class="logo room12">
        <%= partial "images/r12" %>
    </div>

    <div class="logo pioneer">
        <%= partial "images/pioneer" %>
    </div>

    <div class="logo graceland">
        <%= partial "images/graceland" %>
    </div>


    <div class="expanded nest">
        <div class="float">
            <div class="header">
                <div class="chevron"></div>
                <%= partial "images/nest" %>
            </div>
            <p>You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight. You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight. You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight. You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight. You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight.</p>
        </div>
    </div>
    <div class="expanded room12">
        <div class="float">
            <div class="header">
                <div class="chevron"></div>
                <%= partial "images/r12" %>
            </div>
            <p>You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight. You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight. You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight. You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight. You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight.</p>
        </div>
    </div>
    <div class="expanded pioneer">
        <div class="float">
            <div class="header">
                <div class="chevron"></div>
                <%= partial "images/pioneer" %>
            </div>
            <p>You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight. You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight. You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight. You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight. You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight.</p>
        </div>
    </div>
    <div class="expanded graceland">
        <div class="float">
            <div class="header">
                <div class="chevron"></div>
                <%= partial "images/graceland" %>
            </div>
            <p>You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight. You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight. You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight. You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight. You found me. I'm a software enineer in Northern California. I build iOS and Web experiences to delight.</p>
        </div>
    </div>
</section>

<div class="row-2">
<!--     <section class="instagram"></section>

    <section class="tweets"></section>

    <section class="lfm"></section>
 --></div>

<section class="blog clearfix">
    <div class="row clearfix">
    <% blog.articles[0...6].each_with_index do |article, index| %>
      <% if (index > 0 and index % 2 == 0) %>
        </div><div class="row clearfix">
      <% end %>

      <article>
        <h3><a href="<%= article.url %>"><%= article.title %></a></h3>
        <h4><time><%= article.date.strftime('%m/%d/%Y') %></time></h4>
        <%= article.summary %>
      </article>
    <% end %>
    <div>
</section>

<script type="text/template" id="tweets-template">
    <ol>
        {{# _.each(tweets, function(tweet, index){ }}
            {{# if(index%2 !== 0) { }}
                <li class="tweet_odd">
            {{# }else{ }}
                <li>
            {{# } }}
                <a href="{{ tweet.url }}" class="permalink">{{{ tweet.timestamp }}}</a>
                <p>{{ tweet.body }}</p>
            </li>
        {{# }); }}
    </ol>
</script>
