---
title: Alex Cash | blog
---

<header>
	<h1>Alex Cash</h1>
	<p>Dangerous thoughts from a dangerous man.</p>
	<nav>
		<ul>
			<li><a href="/about">About</a></li>
			<li><a href="http://www.twitter.com/alexcash">Twitter</a></li>
			<li><a href="http://www.github.com/alexcash">Github</a></li>
			<li><a href="http://www.linkedin.com/pub/alex-cash/48/460/307">Linkedin</a></li>
		</ul>
	</nav>
</header>

<section class="articles">
<% blog.articles.each do |article| %>
  <article>
    <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
    <h4><time><%= article.date.strftime('%b %e %Y') %></time></h4>

    <%= article.summary %>

    <a href="<%= article.url %>">Read more</a>
  </article>
<% end %>
</section>